
/* Desktop setup */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.75rem; 
}

div {
    width:95%;
    margin: 0 auto;
}

.col{
    background-color: #999999;
    border: 1px solid black;
    width: 33%;
    height:160px;
    float: left;
    margin-bottom: 1%;
}

.col1 { 
    margin-right: .5%;
}

.col2 { 
    margin-right: .5%;
}

.col3 { 
    
}

h2 {
    float: right;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 100px;
    text-align: center;
    font-size: 1.25rem; 
}

#chicken {
    background-color: #D59898;
}

#beef {
    background-color: #C14545;
    color: #FFFFFF;
}

#sushi {
    background-color: #E5D197;
}

p {
    padding: 10px;
    clear: right;
    font-size: 1rem;
}

/* Tablet setup */

@media (max-width:991px) {
    * {
        font-size: 14px;
    }

    .col1, .col2 {
        width:49%;

    }
    .col3 {
        width:98.5%;
    }
}

/* Mobile setup */

@media (max-width:767px) {
    * {
        font-size: 12px;
    }

    .col {
       float: none;
        width:100%;
    }
}